.text {
  width: 100%;
  margin: 0 20px;
  max-width: 1400px;
  font-size: 24px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 30px;
  position: relative;
  opacity: 1;

  @media (max-width: 768px) {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1px;
  }
}
.notFocused {
  position: absolute;
  opacity: 0;
  transition: .2s;
  pointer-events: none;
  visibility: hidden;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--col-light);

  &.active {
    opacity: 1;
    visibility: visible;
  }
}
.input {
  width: 0;
  position: absolute;
  opacity: 0;
  padding: 0;
  outline: none;
  border: none;
  user-select: none;
  pointer-events: none;
}
.placeholder {
  pointer-events: none;
  user-select: none;
  color: var(--col-middle);

  span {
    display: inline-block;
    min-width: 15px;
    min-height: 23px;

    @media (max-width: 768px) {
      min-height: 16px;
      min-width: 10px;
    }
  }
  .active {
    position: relative;

    &::before {
      opacity: 0;
      content: '';
      height: 35px;
      width: 1.5px;
      background-color: #fff;
      left: -1px;
      top: 0;
      position: absolute;
      transition: .2s;
      animation: after3s .4s;
      animation-fill-mode: forwards;

      @media (max-width: 768px) {
        height: 25px;
      }
    }
  }
  .writed {
    color: var(--col-light)
  }
  .gone::before {
    left: calc(100% - 1px);
  }
  .error {
    color: var(--col-red)
  }
}
.textBlur {
  opacity: .7;
  transition: .3s;
  filter: blur(2px);
  cursor: pointer;
}
.restart {
  margin-top: 20px;
  outline: none;
  svg {
    transition: .3s;
    fill: var(--col-middle);
    height: auto;
  }

  &:focus, &:hover {
    svg {
      fill: var(--col-light);
    }
  }
}

@keyframes after3s {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
