.custom {
  display: flex;
  flex-direction: column;
  gap: 30px;
  &-input {
    resize: none;
    width: 80%;
    height: 50vh;
    outline: none;
    background: var(--col-light);
    border-radius: 10px;
    padding: 10px;
    color: var(--col-dark);

    &::placeholder {
      color: var(--col-dark);
    }
  }
  .error {
    border: 1px solid red;
  }
  &-button {
    color: var(--col-light);
    padding: 10px 20px;
    border-radius: 16px;
    border: 1px solid var(--col-light);
  }
}