.header {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  width: max-content;
  margin: 0 auto;
  background-color: var(--col-middle);
  padding: 18px 45px;
  border-radius: 12px;

  @media (max-width: 768px) {
    padding: 20px;
    margin: 0 0 0 auto;
    left: auto;
    right: 60px;
    top: -100%;
    transition: .3s;
  }
  &.headerActive {
    @media (max-width: 768px) {
      top: 20px;
    }
  }
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 10px;
    }
  }
  .button {
    transition: .2s;
    font-size: 14px;
    color: var(--col-dark);

    &:hover {
      color: var(--col-light);
    }
  }
  .active {
    color: var(--col-light)
  }
  .line {
    width: 2px;
    height: 15px;
    background-color: var(--col-dark);

    @media (max-width: 768px) {
      width: 15px;
      height: 2px;
    }
  }
  .link {
    transition: 0.2s;
    text-decoration: none;
    color: var(--col-dark);
    &:hover {
      color: var(--col-light);
    }
  }
}

.burger {
  cursor: pointer;
  padding: 12px 0;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 4;
  transition: .3s;

  span {
    position: relative;
    display: block;
    width: 25px;
    height: 3px;
    background: var(--col-light);
    transition: all .2s ease-in-out;
    border-radius: 4px;

    &:before, &:after {
      position: absolute;
      background: var(--col-light);
      content: '';
      left: 0;
      width: 25px;
      height: 3px;
      border-radius: 4px;
      transition: all .2s ease-in-out;
    }
    &:before {
      top: -8px;
    }
    &:after {
      top: 8px;
    }
  }
  &.burgerActive {
    span {
      background: transparent;

      &:before {
        transform: rotate(45deg) translate(5px, 6px);
      }

      &:after {
        transform: rotate(-45deg) translate(5px, -6px);
      }
    }
  }

  @media (min-width: 768px) {
    display: none;
  }
}
.menu {
  right: -100%;
  position: fixed;
  height: 100vh;
  width: 100%;
  background: #f1f1f1;
  z-index: 3;
  transition: .2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.active {
    right: 0;
  }
}
